.blog-card-title {
  color: #e97176 !important;
  font-size: 1.1rem !important;
  font-family: helMedium !important;
  text-decoration: none !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #e97176 !important;
  border-color: #e97176 !important;
}

.blogs_cards .more_articles a {
  padding: 12px 20px;
  margin: 10px;
}

a:hover {
  text-decoration: none;
}

.blg_tags ul li a {
  color: #1C1C20;
  opacity: 1;
}

.people_like_card .card_body a {
  color: #E97176;
}

/* .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,
.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 0;
} */

.website_heaeder .form_wrapper h5 {
  font-size: 1.2rem;
}

.location-text, .location-text:hover {
  color: #212529;
}

.whatsapp-contact h5 {
  color: #212529;
}

.form_wrapper_style form .form-group .form-control, .form_wrapper_style form .form-group .nice_select {
  color: #000;
}

.brand_card img {
  width: auto;
  opacity: 0.6;
}

.inner_mobile_heaeder_mobile_app .header_img img {
  width: 70%;
}

.inner_mobile_heaeder_web_app .header_img img {
  width: 70%;
}

.package-slide-item .head-box h1 {
  min-height: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card_img .img_parent img, .card_img .img_parent video {
  -o-object-fit: fill;
  object-fit: fill;
}

*:focus {
  outline: none;
}

.custom_navbar .nav_item:hover > .sub_menu {
  margin-top: 10px;
}

.custom_navbar .nav_item .sub_menu {
  background-color: #1c1c20;
}

.custom_navbar .nav_item .sub_menu li {
  border-bottom: 0;
}

.custom_navbar .nav_item .sub_menu li a {
  color: #fff;
  font-size: 14px;
}

.custom_navbar .nav_item .sub_menu {
  box-shadow: none;
}

.custom_navbar .nav_item .sub_menu li a i {
  background: #232932;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.custom_navbar .nav_item .sub_menu li {
  padding: 5px 0;
}

.about_us_contetnt .slick-current .year_card .line_after {
  background-color: #fff;
}

.brand_card img:hover {
  opacity: 1;
}

.text-danger-contact {
  top: -25px;
  position: relative;
}

.page-item:last-child .page-link {
  transform: rotate(180deg);
}

.page-item:first-child .page-link {
  transform: rotate(180deg);
}

.blog_card .card_img {
  height: 350px;
}

.blog_card {
  background: #fff;
  box-shadow: 0px 0px 53px rgba(145, 145, 145, 0.1607843137);
  border-radius: 20px;
}

.blog_card .card_body {
  padding: 0 20px 20px 20px;
}

.blog_card .card_body p {
  margin: 20px 0;
}

.blog_card .card_img img {
  border-radius: 10px 10px 0 0;
}

/*.website_heaeder {*/
/*  padding: 150px 0;*/
/*}*/

.blog_card .card_body h5 {
  min-height: 42px;
}

.case_study {
  padding: 60px 0 60px 0;
}

.case_study .section_header {
  margin-bottom: 30px;
}

.meeting_link {
  cursor: pointer;
}

.case_study_slider .slider_item .app_logo img {
  height: 95px;
  width: 95px;
}

.case_study_slider .slider_item .case_study_feature_img {
  margin-left: 10px;
  padding: 85px;
}

.height_inner_mobile_heaeder .aerbag_header_img img {
  width: 50%;
}

.height_inner_mobile_heaeder .zollars_header_img img {
  width: 50%;
}

.case_study_internal .case_app_box h5 {
  font-size: 1.3rem;
}

.case_study_slider .slider_item .app_logo img {
  height: 95px;
  width: 95px;
  border-radius: 20px;
  box-shadow: 0px 0px 53px rgba(145, 145, 145, 0.1607843137);
}

.order1tablet-app-portfolio {
  padding: 20px;
}

.mm-menu--theme-light {
  --mm-color-background: #232932 !important;
}

.mobile-menu-item {
  color: #ffffff !important;
}

.mm-counter {
  display: none !important;
}

.mm-navbar__title {
  color: #fff !important;
}

.mm-btn--next:after, .mm-btn--prev:before{
  border: 2px solid #fff;
  border-bottom: none;
  border-right: none;
}

/* .mm-menu--opened .mm-panel--noanimation, .mm-navbar{
  background: #232932 !important;
  color: #fff;
}
.mm-menu a, .mm-menu button, .mm-menu label{
  color: #fff !important;
} */

.mm-listitem:after{
  left: 0;
}

.case-study-group-img {
  width: 85%;
}

.card_img .img_parent img, .card_img .img_parent video {
  object-fit: fill;
}

.grecaptcha-badge {
  display: none;
}

.card_img .img_parent_list {
  padding: 30px;
}

.card_img .img_parent_inner {
  padding: 10px;
}

.people_like_card .card_img img {
  border-radius: 10px;
}

/*@keyframes onHoverAnimation {*/
/*  100% {*/
/*    background-color: #232932;*/
/*  }*/
/*}*/

/*.brand_card {*/
/*  !* only animation-duration here is required, rest are optional (also animation-name but it will be set on hover)*!*/
/*  animation-duration: 0.4s; !* same as transition duration *!*/
/*  animation-timing-function: linear; !* kind of same as transition timing *!*/
/*  animation-delay: 0ms; !* same as transition delay *!*/
/*  animation-direction: normal; !* can be set to "alternate" to run animation, then run it backwards.*!*/
/*  animation-fill-mode: none; !* can be used to retain keyframe styling after animation, with "forwards" *!*/
/*}*/

/*.brand_card:hover {*/
/*  !*background-color: #232932;*!*/
/*  animation-name: onHoverAnimation;*/
/*}*/

.brand_card:hover .card_icon img {
  /*filter: brightness(0) invert(1);*/
}

@media only screen and (max-width: 480px) {

  .case_study_slider .slider_item .app_logo img {
    height: 95px;
    width: 160px;
  }

  .case_study .app_download a {
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(145, 145, 145, 0.1607843137);
  }

  .case_study_slider .slider_item .case_study_feature_img {
    margin-left: 10px;
    padding: 10px;
  }

  .website_heaeder {
    padding: 140px 10px;
  }

  .contact_us_form_wrapper {
    margin-bottom: 70px;
  }

  .how_help_you .years_exp_box {
    padding: 35px 30px;
  }

  .customers_say_card {
    box-shadow: 0px 0px 8px rgba(145, 145, 145, 0.1607843137);
  }

  .index_header_title {
    font-size: 2.4rem !important;
  }

  .website_heaeder .header_title span::after {
    height: 12px;
  }

  .get-quotation, .header_boxes, .btn_submit {
    display: flex;
    justify-content: center;
  }

  .what_promise {
    padding: 45px 0 15px 0;

  }

  .customers_say {
    padding: 35px 0 65px 0;
  }

  .contact_us_section {
    padding: 45px 0 65px 0;
  }

  .webdevelopment_content_blog_article {
    padding: 60px 0;
  }

  .blog_details_strip {
    margin-top: -100px;
  }

  .blog_details_strip .blog_details_box {
    padding: 50px 15px !important;
  }

  .blog_details_strip .blog_img .card_img {
    height: 300px !important;
  }

  .btn_lime_dislike {
    display: none;
  }

  .start_up_lunch .start_up_lunch_wrapper .card_body h4 {
    font-size: 1.6rem;
  }

  .about_us_contetnt {
    padding: 50px 0;
  }

  .about_us_contetnt .section_header {
    margin-bottom: 0;
  }

  .web_feature .section_header {
    margin-bottom: 40px;
  }

  /*.blog_website_heaeder .header_content {*/
  /*  height: 120px;*/
  /*}*/

}
