/* Constant styles  */
.custom_navbar .nav_links {
  width: 765px;
}
.custom_navbar .nav_links .nav_link {
  padding: 11px 28px;
  position: relative;
}
.custom_navbar .navbar_content .cont_btn {
  padding: 10px;
}

.website_heaeder .header_link {
  padding: 8px 25px;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.website_heaeder .header_link::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.website_heaeder .header_link::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.website_heaeder .header_link:hover::before {
  height: 410px;
  width: 410px;
}
.website_heaeder .header_link:hover::after {
  height: 410px;
  width: 410px;
}
.website_heaeder .header_link:hover span {
  color: #fff;
}
.website_heaeder .header_link:active {
  filter: brightness(0.8);
}
.website_heaeder .form_wrapper form .btn_submit .btn {
  padding: 8px 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.website_heaeder .form_wrapper form .btn_submit .btn::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.website_heaeder .form_wrapper form .btn_submit .btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.website_heaeder .form_wrapper form .btn_submit .btn:hover::before {
  height: 410px;
  width: 410px;
}
.website_heaeder .form_wrapper form .btn_submit .btn:hover::after {
  height: 410px;
  width: 410px;
}
.website_heaeder .form_wrapper form .btn_submit .btn:hover span {
  color: #fff;
}
.website_heaeder .form_wrapper form .btn_submit .btn:active {
  filter: brightness(0.8);
}
.website_heaeder .header_svg {
  bottom: 70px;
}

.download_profile .pdf_link,
.download_profile .meeting_link {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.download_profile .pdf_link::before,
.download_profile .meeting_link::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.download_profile .pdf_link::after,
.download_profile .meeting_link::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.download_profile .pdf_link:hover::before,
.download_profile .meeting_link:hover::before {
  height: 410px;
  width: 410px;
}
.download_profile .pdf_link:hover::after,
.download_profile .meeting_link:hover::after {
  height: 410px;
  width: 410px;
}
.download_profile .pdf_link:hover span,
.download_profile .meeting_link:hover span {
  color: #fff;
}
.download_profile .pdf_link:active,
.download_profile .meeting_link:active {
  filter: brightness(0.8);
}

.how_help_you {
  position: relative;
  z-index: 2;
}
.how_help_you .section_header {
  margin-top: 40px;
}

.brand_card {
  transition: all 0.3s ease-in-out !important;
}
.brand_card .card_icon img {
  filter: grayscale(0.7);
  transition: all 0.3s ease-in-out;
}
.brand_card:hover .card_icon img {
  filter: grayscale(0);
}

.what_promise {
  margin-top: 0;
  padding-bottom: 50px;
}

.vision_mission {
  padding-bottom: 60px;
  padding-top: 80px;
}
.vision_mission .section_header {
  margin-bottom: 40px;
}

.level_process .section_header {
  margin-bottom: 170px;
}

.form_wrapper_style form .btn_submit .btn {
  padding: 8px 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.form_wrapper_style form .btn_submit .btn::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.form_wrapper_style form .btn_submit .btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.form_wrapper_style form .btn_submit .btn:hover::before {
  height: 410px;
  width: 410px;
}
.form_wrapper_style form .btn_submit .btn:hover::after {
  height: 410px;
  width: 410px;
}
.form_wrapper_style form .btn_submit .btn:hover span {
  color: #fff;
}
.form_wrapper_style form .btn_submit .btn:active {
  filter: brightness(0.8);
}

.location_card .whatsapp_icon img {
  width: 35px;
}

.about_us_contetnt .slick-list {
  padding-top: 0;
}
.about_us_contetnt .years_content_slider .slick-list {
  padding-bottom: 0;
}

.blog_article_slider .lets_plane .btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 35px;
  z-index: 1;
}
.blog_article_slider .lets_plane .btn::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.blog_article_slider .lets_plane .btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.blog_article_slider .lets_plane .btn:hover::before {
  height: 410px;
  width: 410px;
}
.blog_article_slider .lets_plane .btn:hover::after {
  height: 410px;
  width: 410px;
}
.blog_article_slider .lets_plane .btn:hover span {
  color: #fff;
}
.blog_article_slider .lets_plane .btn:active {
  filter: brightness(0.8);
}

.blogs_cards .more_articles {
  text-align: center;
}
.blogs_cards .more_articles a {
  padding: 15px 35px;
  position: relative;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.blogs_cards .more_articles a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.blogs_cards .more_articles a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.blogs_cards .more_articles a:hover {
  border: 1px solid #202228;
}
.blogs_cards .more_articles a:hover::before {
  height: 410px;
  width: 410px;
}
.blogs_cards .more_articles a:hover::after {
  height: 410px;
  width: 410px;
}
.blogs_cards .more_articles a:hover span,
.blogs_cards .more_articles a:hover i {
  color: #fff;
}
.blogs_cards .more_articles a:active {
  filter: brightness(0.8);
}

.start_up_lunch .start_up_lunch_wrapper .parg a {
  padding: 8px 35px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.start_up_lunch .start_up_lunch_wrapper .parg a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.start_up_lunch .start_up_lunch_wrapper .parg a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover {
  border: 1px solid #202228;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover::before {
  height: 410px;
  width: 410px;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover::after {
  height: 410px;
  width: 410px;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover span,
.start_up_lunch .start_up_lunch_wrapper .parg a:hover i {
  color: #fff;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:active {
  filter: brightness(0.8);
}

.case_study .btn_options a {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.case_study .btn_options a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.case_study .btn_options a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.case_study .btn_options a:hover {
  border: 1px solid #202228;
}
.case_study .btn_options a:hover::before {
  height: 410px;
  width: 410px;
}
.case_study .btn_options a:hover::after {
  height: 410px;
  width: 410px;
}
.case_study .btn_options a:hover span,
.case_study .btn_options a:hover i {
  color: #fff;
}
.case_study .btn_options a:active {
  filter: brightness(0.8);
}
.case_study .btn_options a:first-child::before {
  background-color: #e97176;
}
.case_study .btn_options a:first-child::after {
  background-color: #e97176;
}
.case_study .btn_options a:first-child:hover {
  border-color: #e97176;
}

.why_have_over .content a {
  position: relative;
  padding: 8px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.why_have_over .content a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.why_have_over .content a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.why_have_over .content a:hover {
  border-color: #fff;
}
.why_have_over .content a:hover::before {
  height: 410px;
  width: 410px;
}
.why_have_over .content a:hover::after {
  height: 410px;
  width: 410px;
}
.why_have_over .content a:hover span,
.why_have_over .content a:hover i {
  color: #000;
}
.why_have_over .content a:hover img {
  filter: brightness(0%);
}
.why_have_over .content a:active {
  filter: brightness(0.8);
}

.what_make {
  padding-bottom: 70px;
}

.what_avilible_job_card .btn_options a {
  padding: 8px 35px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.what_avilible_job_card .btn_options a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.what_avilible_job_card .btn_options a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #202228;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.what_avilible_job_card .btn_options a:hover::before {
  height: 410px;
  width: 410px;
}
.what_avilible_job_card .btn_options a:hover::after {
  height: 410px;
  width: 410px;
}
.what_avilible_job_card .btn_options a:hover span,
.what_avilible_job_card .btn_options a:hover i {
  color: #fff;
}
.what_avilible_job_card .btn_options a:active {
  filter: brightness(0.8);
}

.how_increase_card {
  min-height: 210px;
}

.mobile_dev_cont .btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.mobile_dev_cont .btn::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.mobile_dev_cont .btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.mobile_dev_cont .btn:hover {
  border-color: #fff;
}
.mobile_dev_cont .btn:hover::before {
  height: 410px;
  width: 410px;
}
.mobile_dev_cont .btn:hover::after {
  height: 410px;
  width: 410px;
}
.mobile_dev_cont .btn:hover span,
.mobile_dev_cont .btn:hover i {
  color: #000;
}
.mobile_dev_cont .btn:hover img {
  filter: brightness(0%);
}
.mobile_dev_cont .btn:active {
  filter: brightness(0.8);
}
.mobile_dev_cont .btn:first-child::after {
  background-color: #202228;
}
.mobile_dev_cont .btn:first-child::before {
  background-color: #202228;
}
.mobile_dev_cont .btn:first-child:hover {
  background-color: #fff;
}
.mobile_dev_cont .btn:first-child:hover span {
  color: #fff;
}
.mobile_dev_cont .btn:first-child:hover img {
  filter: brightness(0) invert(1);
}

.start_up_lunch .start_up_lunch_wrapper .parg a {
  position: relative;
  padding: 8px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.start_up_lunch .start_up_lunch_wrapper .parg a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.start_up_lunch .start_up_lunch_wrapper .parg a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover {
  border-color: #fff;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover::before {
  height: 410px;
  width: 410px;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover::after {
  height: 410px;
  width: 410px;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover span,
.start_up_lunch .start_up_lunch_wrapper .parg a:hover i {
  color: #000;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover img {
  filter: brightness(0%);
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover span {
  color: #000;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover img {
  filter: brightness(0);
}

.download_profile .meeting_link {
  position: relative;
  padding: 8px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.download_profile .meeting_link::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.download_profile .meeting_link::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.download_profile .meeting_link span,
.download_profile .meeting_link i {
  transition: all 0.3s ease-in-out;
}
.download_profile .meeting_link:hover {
  border-color: #fff;
}
.download_profile .meeting_link:hover::before {
  height: 410px;
  width: 410px;
}
.download_profile .meeting_link:hover::after {
  height: 410px;
  width: 410px;
}
.download_profile .meeting_link:hover span,
.download_profile .meeting_link:hover i {
  color: #000;
}
.download_profile .meeting_link:hover img {
  filter: brightness(0%);
}
.download_profile .meeting_link:hover span {
  color: #000;
}
.download_profile .meeting_link:hover img {
  filter: brightness(0);
}

.our_featured .feature_btn a {
  position: relative;
  padding: 8px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.our_featured .feature_btn a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.our_featured .feature_btn a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.our_featured .feature_btn a span,
.our_featured .feature_btn a i {
  transition: all 0.3s ease-in-out;
}
.our_featured .feature_btn a:hover {
  border-color: #fff;
}
.our_featured .feature_btn a:hover::before {
  height: 410px;
  width: 410px;
}
.our_featured .feature_btn a:hover::after {
  height: 410px;
  width: 410px;
}
.our_featured .feature_btn a:hover span,
.our_featured .feature_btn a:hover i {
  color: #000;
}
.our_featured .feature_btn a:hover img {
  filter: brightness(0%);
}
.our_featured .feature_btn a:hover span {
  color: #000;
}
.our_featured .feature_btn a:hover img {
  filter: brightness(0);
}

.webdevelopment_content .lets_plane a {
  position: relative;
  padding: 8px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.webdevelopment_content .lets_plane a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.webdevelopment_content .lets_plane a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.webdevelopment_content .lets_plane a span,
.webdevelopment_content .lets_plane a i {
  transition: all 0.3s ease-in-out;
}
.webdevelopment_content .lets_plane a:hover {
  border-color: #fff;
}
.webdevelopment_content .lets_plane a:hover::before {
  height: 410px;
  width: 410px;
}
.webdevelopment_content .lets_plane a:hover::after {
  height: 410px;
  width: 410px;
}
.webdevelopment_content .lets_plane a:hover span,
.webdevelopment_content .lets_plane a:hover i {
  color: #000;
}
.webdevelopment_content .lets_plane a:hover img {
  filter: brightness(0%);
}
.webdevelopment_content .lets_plane a:hover span {
  color: #000;
}
.webdevelopment_content .lets_plane a:hover img {
  filter: brightness(0);
}

.web_feature .feature_btn a {
  position: relative;
  padding: 8px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.web_feature .feature_btn a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.web_feature .feature_btn a::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.web_feature .feature_btn a span,
.web_feature .feature_btn a i {
  transition: all 0.3s ease-in-out;
}
.web_feature .feature_btn a:hover {
  border-color: #fff;
}
.web_feature .feature_btn a:hover::before {
  height: 410px;
  width: 410px;
}
.web_feature .feature_btn a:hover::after {
  height: 410px;
  width: 410px;
}
.web_feature .feature_btn a:hover span,
.web_feature .feature_btn a:hover i {
  color: #000;
}
.web_feature .feature_btn a:hover img {
  filter: brightness(0%);
}
.web_feature .feature_btn a:hover span {
  color: #000;
}
.web_feature .feature_btn a:hover img {
  filter: brightness(0);
}

.work_withtop .btn {
  position: relative;
  padding: 8px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.work_withtop .btn::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.work_withtop .btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.work_withtop .btn span,
.work_withtop .btn i {
  transition: all 0.3s ease-in-out;
}
.work_withtop .btn:hover {
  border-color: #fff;
}
.work_withtop .btn:hover::before {
  height: 410px;
  width: 410px;
}
.work_withtop .btn:hover::after {
  height: 410px;
  width: 410px;
}
.work_withtop .btn:hover span,
.work_withtop .btn:hover i {
  color: #000;
}
.work_withtop .btn:hover img {
  filter: brightness(0%);
}
.work_withtop .btn:hover span {
  color: #000;
}
.work_withtop .btn:hover img {
  filter: brightness(0);
}

.case_study_internal .btn_more .btn {
  position: relative;
  padding: 8px 35px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  width: -moz-max-content;
  width: max-content;
}
.case_study_internal .btn_more .btn::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  top: -1em;
  left: -1em;
}
.case_study_internal .btn_more .btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.case_study_internal .btn_more .btn span,
.case_study_internal .btn_more .btn i {
  transition: all 0.3s ease-in-out;
}
.case_study_internal .btn_more .btn:hover {
  border-color: #fff;
}
.case_study_internal .btn_more .btn:hover::before {
  height: 410px;
  width: 410px;
}
.case_study_internal .btn_more .btn:hover::after {
  height: 410px;
  width: 410px;
}
.case_study_internal .btn_more .btn:hover span,
.case_study_internal .btn_more .btn:hover i {
  color: #000;
}
.case_study_internal .btn_more .btn:hover img {
  filter: brightness(0%);
}
.case_study_internal .btn_more .btn:hover span {
  color: #000;
}
.case_study_internal .btn_more .btn:hover img {
  filter: brightness(0);
}

@media (max-width: 600px) {
  .download_profile .download_links {
    flex-direction: column !important;
  }
  .download_profile .download_links .pdf_link,
  .download_profile .download_links .meeting_link {
    width: 100% !important;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    margin-left: 0 !important;
  }
}
:root {
  --base_scale: 5vh;
  --floor: 15vh;
  --color: #836ee5;
}

.transition-container {
  position: fixed;
  left: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 9999;
  pointer-events: none;
}
.transition-container span {
  position: relative;
}
.transition-container.from-left {
  flex-direction: column;
}
.transition-container.from-left span {
  background: #202228;
  height: 100%;
  width: 100%;
}
.transition-container.from-top span {
  background: rgb(170, 79, 255);
  height: 100%;
  width: 100%;
}
.transition-container shape {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  margin-left: calc(-1 * var(--base_scale) / 2);
  margin-bottom: var(--floor);
}
.transition-container shape.circle {
  width: var(--base_scale);
  height: var(--base_scale);
  background: var(--color);
  border-radius: 50%;
}
.transition-container shape.semi-circle {
  height: calc(var(--base_scale) * 2);
  width: var(--base_scale);
  background: var(--color);
  border-bottom-right-radius: calc(var(--base_scale) * 2);
  border-top-right-radius: calc(var(--base_scale) * 2);
}
.transition-container shape.square {
  width: var(--base_scale);
  height: var(--base_scale);
  background: var(--color);
}
.transition-container shape.rectangle {
  width: calc(var(--base_scale) * 1.5);
  height: var(--base_scale);
  background: var(--color);
}
.transition-container shape.triangle {
  width: 0;
  height: 0;
  border-bottom: var(--base_scale) solid var(--color);
  border-right: var(--base_scale) solid transparent;
}
.transition-container shape.triangle-2 {
  width: 0;
  height: 0;
  border-top: var(--base_scale) solid var(--color);
  border-left: var(--base_scale) solid transparent;
}
.transition-container shape.bounce-up {
  --bounce-variance: 0vh;
  --bounce-height: calc(
    -1 * 50vh - calc(var(--base_scale) - var(--floor) +
          var(--bounce-variance))
  );
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(var(--bounce-height)) rotate(0deg);
}
.transition-container shape.bounce-down {
  transition: transform 300ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transform: translateY(0) rotate(var(--rotation));
}/*# sourceMappingURL=newstyle.css.map */